<%= render 'devise/shared/header' %>

<div class="container">
      <div class="row">
          <!-- 以下を追加 -->
          <!-- 左のユーザー情報の表示 -->
          <div class="col-lg-3">
              <h2>User info</h2>
              <!-- 　画像のデータが存在するかで表示する画像を変更する -->
              <% if @user.image_id != nil %>
              	<%= attachment_image_tag @user, :image, class: "user-image" %><br>
              <% else %>
              	<%= image_tag('no-image.jpg', :class => "user-image") %><br>
              <% end %>

              <table width="100%" class="table">
              	<tr>
              		<td style="text-align: left">name</td>
              		<td style="text-align: right"><%= @user.username %></td>
              	</tr>
              	<tr>
              		<td style="text-align: left">introduction</td>
              		<td style="text-align: right"><%= @user.introduction %></td>
              	</tr>
              </table>
              <%= link_to edit_user_path(current_user.id), class: "btn btn-default m-2 rounded-circle user-setting" do %>
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
              <% end %>
              <h2>New book</h2>
              <%= form_for(@book) do |f| %>
              	Title<br>
              	<%= f.text_field :title, class: "book-title" %><br>

              	Opinion<br>
              	<%= f.text_area :body, class: "book-body" %><br>
              	<!-- idを隠れてコソコソ渡したい場合 -->
              	<%= f.hidden_field :user_id, :value => current_user.id %>
              	<%= f.submit "Create Book", class: "btn btn-info m-2 rounded-circle book-submit" %>
              <% end %>
          </div>
          <!-- 本の投稿の表示 -->
          <div class="col-lg-9">
          	<h2>Book detail</h2>
          	<table width="100%" class="table">
          		<tbody> 
          		  <tr>
          		    <td style='width: 15%'>
          		      <% if @book_info.user_id == nil %>
          		        <%= link_to book_path(@book_info) do %>
          		          <% if @user.image_id != nil %>
              			    <%= attachment_image_tag current_user, :image, class: "user-image-mini" %><br>
              			  <% else %>
              			    <%= image_tag('no-image.jpg', :class => "user-image-mini") %><br>
              		      <% end %>
              		      <% @user.username %>
              		    <% end %>
          		      <% else %>
          		        <%= link_to user_path(@book_info.user_id) do %>
          		    	  <% if current_user.image_id != nil %>
              			    <%= attachment_image_tag current_user, :image, class: "user-image-mini" %><br>
              			  <% else %>
              			    <%= image_tag('no-image.jpg', :class => "user-image-mini") %><br>
              		      <% end %>
              		      <% @user.username %>
              		    <% end %>
              		  <% end %>
              		  </td>
              		  <!--  本のタイトルの表示 -->
          			  <td style='width: 15%'><%= link_to @book_info.title, book_path(@book_info) %></td>

          			  <!-- 本を登録したユーザーと閲覧中のユーザーが同じとき -->
          			  <% if current_user.id == @book_info.user_id.to_i %>
          			    <td style='width: 40%'>
          			      <%= @book_info.body %>
          			    </td>
          			    <td style='width: 30%'>
          			      <%= link_to "Edit", edit_book_path(@book_info), class: 'btn btn-success m-2 rounded-circle' %>
						  <%= link_to "Destroy", book_path(@book_info), class: 'btn btn-danger m-2 rounded-circle', method: :delete, data: { confirm: '本当に消しますか？'} %>
						</td>
          			  <% else %>
          			    <td style='width: 70%'>
          			      <%= @book_info.body %>
          			    </td>
          			  <% end %>
          		  </tr>
          		</tbody>
          	</table>
          </div>
      </div>
</div>

<%= render 'devise/shared/footer' %>